<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546624203315-rkpmhp92u1qbane8bdvbjdlf7eue7cfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546624203315-rkpmhp92u1qbane8bdvbjdlf7eue7cfb</string>
	<key>API_KEY</key>
	<string>AIzaSyAm5LK1hOyTEhizMYG3Y5fGJPn8R2VGoyM</string>
	<key>GCM_SENDER_ID</key>
	<string>546624203315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitpetAdventure</string>
	<key>PROJECT_ID</key>
	<string>fitpetadventure-4ce43</string>
	<key>STORAGE_BUCKET</key>
	<string>fitpetadventure-4ce43.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546624203315:ios:53354bf8ffe47a3176d146</string>
	<key>DATABASE_URL</key>
	<string>https://fitpetadventure-4ce43-default-rtdb.firebaseio.com</string>
</dict>
</plist>